@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@700&family=Work+Sans:wght@700;900&display=swap');

$first-text-color: #24173D;
$second-text-color: #F6BF33;
$light-text-color: #FFFFFF;
$footer-text-color: #4A4A4A;
$inputs-text-color-hero: #5C5C5C;
$inputs-text-color-other: #383838;
$primary-color: #FFC633;
$button-color: #FAC86E;

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn, input {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn_hover-blink {
  overflow: hidden;
  position: relative;
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }
}

.btn_hover-blink:hover {
  
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

// Header

.header {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 150px 50px;

  &__title {
    font: 700 24px / 30px "Montserrat";
    text-transform: uppercase;
    color: $first-text-color;

    text-shadow: 0 0 1px #000;
  }

  .divider-y {
    margin-left: 45px;
    margin-right: 45px;
    
    height: 100%;
  
    border: 2px solid #000;
    border-radius: 50%;
  }

  .phone {
    display: flex;
    align-items: center;
  
    &__number {
      margin-left: 10px;
  
      font: 600 24px / 30px "Montserrat";
      color: $first-text-color;
    }
  
    &__btn {
      padding: 13px 45px;
      margin-left: 50px;
  
      font: 700 18px / 25px "Montserrat";
      color: $first-text-color;
  
      background-color: $primary-color;
      border-radius: 30px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  height: 100%;

  &__link {
    text-align: center;
  }
  
  &__GPS {
    margin: 0;

    font: 900 80px / 60px "Work Sans";

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #2A2D3E 0%, $primary-color 100%);
  }

  &__ref {
    margin-bottom: 0;
    margin-top: 0;

    font: 900 13px / 15px "Work Sans";
    text-transform: uppercase;
    color: $first-text-color;

    text-shadow: 0 0 1px #000;
  }
}


// Hero

.main {
  font-family: "Montserrat";
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 68px;
  padding-bottom: 209px;

  background: bottom / cover url("../img/background.jpg");

  .description {
    display: flex;
    flex-direction: column;

    max-width: 670px;

    color: $light-text-color;
    &__title {
      margin-top: 20px;
      margin-bottom: 0;

      font-size: 67px;
      font-weight: 800;

      text-transform: uppercase;

      &__2nd-line {
        margin-top: 25px;
        margin-bottom: 0;

        font-size: 29px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    &__subtitle {
      margin-top: 0;
      margin-bottom: 25px;

      font-size: 56px;
      font-weight: 700;

      &__2nd-line {
        margin-bottom: 10px;

        font-size: 24px;
        font-weight: 400;
        line-height: 33px;

        &_important {
          font-weight: 700;
          color: $primary-color;
        }
      }

      &__3rd-line {
        font-size: 24px;
        font-weight: 700;
        color: $primary-color;
      }
    }
  }

  .divider-x {
    align-self: center;

    margin-top: 45px;
    margin-bottom: 25px;
    
    width: 70%;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
  }

  .order-consultation {
    padding: 50px;
    margin-left: 45px;

    max-width: 790px;

    color: $first-text-color;
    text-align: center;

    background-color: $primary-color;
    border-radius: 30px;
    box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);

    &__title {
      margin-top: 20px;
      margin-bottom: 10px;

      font-size: 87px;
      font-weight: 800;
      line-height: 65px;
      letter-spacing: 10px;
      text-transform: uppercase;
    }

    &__subtitle {
      margin-bottom: 15px;

      font-size: 29px;
      font-weight: 500;
      letter-spacing: 3.3px;
      text-transform: uppercase;
    }

    &__subtext {
      margin-bottom: 30px;

      color: $light-text-color;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2.3px;
      text-transform: uppercase;
    }

    &__inputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  
      &__name,
      &__tel {
        padding: 21px 20px;

        width: 345px;

        font-size: 19px;
        font-weight: 200;
        color: $inputs-text-color-hero;
        
        
        border-radius: 5px;

        &::placeholder {
          color: $inputs-text-color-hero;
          font-family: "Montserrat";
          font-weight: 200;
        }
      }

      &__name {
        margin-right: 20px;
      }
    }

    &__btn {
      margin-top: 30px;
      padding: 21px 36px;

      color: $light-text-color;
      text-transform: uppercase;
      font: 600 18px / 22px "Montserrat";

      background-color: $first-text-color;
      border-radius: 30px;
      box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
    }
  }
}

// Advantages

.advantages {
  margin: 0 70px;

  &__title {
    width: 570px;
    margin: 45px auto 0;

    font-size: 44px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
  }

  &-wrapper {
    position: relative;
    z-index: -1;
    top: -25px;

    max-width: 1780px;

    margin: 0 auto;
    padding: 80px 90px 0;

    border: 6px double #000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: flex;
      align-items: center;

      margin-bottom: 90px;

      width: 510px;

      font-size: 24px;
      font-weight: 300;

      &__icon {
        margin-right: 40px;
      }

      &__text {
        margin: 0;
        letter-spacing: 1px;
      }
    }
  }
}

// Real estate

.real-estate {
  margin-bottom: 128px;

  &__title {
    margin-top: 20px;
    margin-bottom: 60px;

    font-size: 44px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;

    max-width: 1920px;

    &__item {
      position: relative;
      
      box-shadow: inset 1px 1px #FFFFFF;
      background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%);

      &__img {
        position: relative;
        z-index: -1;
      }

      &__title {
        position: absolute;
        bottom: 100px;
        left:50%;
        transform: translateX(-50%);

        margin: 0;

        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $light-text-color;
      }

      &__btn {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        padding: 13px 50px;

        color: $first-text-color;
        font: 600 16px / 20px "Montserrat";

        background-color: $button-color;
        border-radius: 30px;
        box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);

      }
    }
  }
}

// Stats

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;

  max-width: 1920px;

  &__description {
    margin-left: 148px;
    padding-left: 30px;

    max-width: 670px;

    color: $first-text-color;
    font-size: 44px;
    font-weight: 900;
    line-height: 77px;
    text-transform: uppercase;

    border-left: 5px solid $first-text-color;
  }

  &__values {
    width: 50%;

    background-color: $primary-color;
    border-radius: 30px 0px 0px 30px;

    &__list {
      display: flex;

      padding: 30px 0;

      &__item {
        position: relative;

        max-width: 185px;

        padding-left: 54px;

        text-align: center;

        &__text {
          margin: 20px 0;
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          color: $light-text-color;
        }

        &__numbers {
          font-size: 70px;
          font-weight: 800;
          color: $first-text-color;

          border-top: 2px solid $light-text-color;
          border-bottom: 2px solid $light-text-color;

          span {
            font-size: 30px;
          }
        }

        &:not(:last-of-type) {
          padding-right: 54px;

          &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
  
            width: 2px;
            height: 146px;
  
            background-color: $light-text-color;
            opacity: .2;
          }
        }
      }
    }
  }
}

// Consult

.consult {
  padding-top: 80px;
  padding-bottom: 90px;

  text-align: center;
  background-image: url("../img/background-consultation.jpg");

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 44px;
    font-weight: 800;
    color: $light-text-color;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 60px;

    font-size: 30px;
    font-weight: 400;
    color: $light-text-color;
  }

  &__inputs {
    display: flex;
    justify-content: center;

    &__name,
    &__tel {
      padding: 20px;
      margin-right: 20px;

      width: 345px;

      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: $inputs-text-color-hero;
      
      
      border-radius: 5px;

      &::placeholder {
        color: $inputs-text-color-hero;
        font-family: "Montserrat";
        font-weight: 200;
      }
    }
  }

  &__btn {
    padding: 17px 64px;

    color: $first-text-color;
    text-transform: uppercase;
    font: 700 18px / 22px "Montserrat";

    background-color: $primary-color;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  }
}

// Footer 

.footer {
  .logo {
    padding: 70px 0 40px;
    display: flex;
    justify-content: center;

    &__ref {
      margin-top: 5px;
      text-shadow: none;
    }
  }

  .credits {
    padding: 15px 0;

    font: 400 14px / 17px "Montserrat";
    text-align: center;

    background-color: rgba(230, 229, 234, 0.15);

    p {
      margin: 0;
      color: #4A4A4A;
    }

    span {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}