@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@700&family=Work+Sans:wght@700;900&display=swap");
body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn, input {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn_hover-blink {
  overflow: hidden;
  position: relative;
}
.btn_hover-blink:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.btn_hover-blink:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px 50px;
}
.header__title {
  font: 700 24px / 30px "Montserrat";
  text-transform: uppercase;
  color: #24173D;
  text-shadow: 0 0 1px #000;
}
.header .divider-y {
  margin-left: 45px;
  margin-right: 45px;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
}
.header .phone {
  display: flex;
  align-items: center;
}
.header .phone__number {
  margin-left: 10px;
  font: 600 24px / 30px "Montserrat";
  color: #24173D;
}
.header .phone__btn {
  padding: 13px 45px;
  margin-left: 50px;
  font: 700 18px / 25px "Montserrat";
  color: #24173D;
  background-color: #FFC633;
  border-radius: 30px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__link {
  text-align: center;
}
.logo__GPS {
  margin: 0;
  font: 900 80px / 60px "Work Sans";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #2A2D3E 0%, #FFC633 100%);
}
.logo__ref {
  margin-bottom: 0;
  margin-top: 0;
  font: 900 13px / 15px "Work Sans";
  text-transform: uppercase;
  color: #24173D;
  text-shadow: 0 0 1px #000;
}

.main {
  font-family: "Montserrat";
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 68px;
  padding-bottom: 209px;
  background: bottom/cover url("../img/background.jpg");
}
.hero .description {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  color: #FFFFFF;
}
.hero .description__title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 67px;
  font-weight: 800;
  text-transform: uppercase;
}
.hero .description__title__2nd-line {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 29px;
  font-weight: 300;
  text-transform: uppercase;
}
.hero .description__subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 56px;
  font-weight: 700;
}
.hero .description__subtitle__2nd-line {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.hero .description__subtitle__2nd-line_important {
  font-weight: 700;
  color: #FFC633;
}
.hero .description__subtitle__3rd-line {
  font-size: 24px;
  font-weight: 700;
  color: #FFC633;
}
.hero .divider-x {
  align-self: center;
  margin-top: 45px;
  margin-bottom: 25px;
  width: 70%;
  border: 2px solid white;
  border-radius: 50%;
}
.hero .order-consultation {
  padding: 50px;
  margin-left: 45px;
  max-width: 790px;
  color: #24173D;
  text-align: center;
  background-color: #FFC633;
  border-radius: 30px;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
}
.hero .order-consultation__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 87px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.hero .order-consultation__subtitle {
  margin-bottom: 15px;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.hero .order-consultation__subtext {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}
.hero .order-consultation__inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .order-consultation__name, .hero .order-consultation__tel {
  padding: 21px 20px;
  width: 345px;
  font-size: 19px;
  font-weight: 200;
  color: #5C5C5C;
  border-radius: 5px;
}
.hero .order-consultation__name::placeholder, .hero .order-consultation__tel::placeholder {
  color: #5C5C5C;
  font-family: "Montserrat";
  font-weight: 200;
}
.hero .order-consultation__name {
  margin-right: 20px;
}
.hero .order-consultation__btn {
  margin-top: 30px;
  padding: 21px 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  font: 600 18px / 22px "Montserrat";
  background-color: #24173D;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.advantages {
  margin: 0 70px;
}
.advantages__title {
  width: 570px;
  margin: 45px auto 0;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}
.advantages-wrapper {
  position: relative;
  z-index: -1;
  top: -25px;
  max-width: 1780px;
  margin: 0 auto;
  padding: 80px 90px 0;
  border: 6px double #000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advantages-list__item {
  margin-bottom: 90px;
  width: 510px;
}
.advantages-list .item {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
}
.advantages-list .item__icon {
  margin-right: 40px;
}
.advantages-list .item__text {
  margin: 0;
  letter-spacing: 1px;
}

.real-estate {
  margin-bottom: 128px;
}
.real-estate__title {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}
.real-estate__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.real-estate__item_1st-line .item__img {
  width: 33.33vw;
}
.real-estate__item_2nd-line .item__img {
  width: 50vw;
}
.real-estate .item {
  position: relative;
  box-shadow: inset 1px 1px #FFFFFF;
  background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%);
}
.real-estate .item__img {
  position: relative;
  z-index: -1;
}
.real-estate .item__title {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.real-estate .item__btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 50px;
  color: #24173D;
  font: 600 16px / 20px "Montserrat";
  background-color: #FAC86E;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}
.stats__description {
  margin-left: 148px;
  padding-left: 30px;
  max-width: 670px;
  color: #24173D;
  font-size: 44px;
  font-weight: 900;
  line-height: 77px;
  text-transform: uppercase;
  border-left: 5px solid #24173D;
}
.stats__values {
  width: 50%;
  background-color: #FFC633;
  border-radius: 30px 0px 0px 30px;
}
.stats__list {
  display: flex;
  padding: 30px 0;
}
.stats__item {
  position: relative;
  max-width: 185px;
  padding-left: 54px;
  text-align: center;
}
.stats .item__text {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}
.stats .item__numbers {
  font-size: 70px;
  font-weight: 800;
  color: #24173D;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.stats .item__numbers span {
  font-size: 30px;
}
.stats .item:not(:last-of-type) {
  padding-right: 54px;
}
.stats .item:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 146px;
  background-color: #FFFFFF;
  opacity: .2;
}

.consult {
  padding-top: 80px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/background-consultation.jpg");
}
.consult__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 800;
  color: #FFFFFF;
}
.consult__subtitle {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}
.consult__inputs {
  display: flex;
  justify-content: center;
}
.consult__name, .consult__tel {
  padding: 20px;
  margin-right: 20px;
  width: 345px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #5C5C5C;
  border-radius: 5px;
}
.consult__name::placeholder, .consult__tel::placeholder {
  color: #5C5C5C;
  font-family: "Montserrat";
  font-weight: 200;
}
.consult__btn {
  padding: 17px 64px;
  color: #24173D;
  text-transform: uppercase;
  font: 700 18px / 22px "Montserrat";
  background-color: #FFC633;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.footer .logo {
  padding: 70px 0 40px;
  display: flex;
  justify-content: center;
}
.footer .logo__ref {
  margin-top: 5px;
  text-shadow: none;
}
.footer .credits {
  padding: 15px 0;
  font: 400 14px / 17px "Montserrat";
  text-align: center;
  background-color: rgba(230, 229, 234, 0.15);
}
.footer .credits p {
  margin: 0;
  color: #4A4A4A;
}
.footer .credits span {
  color: #FFC633;
  text-decoration: underline;
}

@media screen and (max-width: 1650px) {
  .header {
    height: 50px;
    padding: 30px 150px 40px;
  }
  .header__title {
    font-size: 18px;
  }
  .header .divider-y {
    height: 120%;
  }
  .header .phone__number {
    font-size: 18px;
  }
  .header .phone__btn {
    padding: 10px 35px;
    font-size: 16px;
  }

  .logo__GPS {
    font-size: 64px;
  }
  .logo__ref {
    font-size: 10px;
  }

  .hero {
    padding: 68px 50px 160px;
  }
  .hero .description {
    max-width: 520px;
  }
  .hero .description__title {
    font-size: 48px;
  }
  .hero .description__title__2nd-line {
    margin-top: 15px;
    font-size: 21px;
  }
  .hero .description__subtitle {
    font-size: 40px;
  }
  .hero .description__subtitle__2nd-line {
    font-size: 18px;
  }
  .hero .description__subtitle__3rd-line {
    font-size: 16px;
  }
  .hero .divider-x {
    align-self: auto;
    position: relative;
    left: 50%;
    transform: translateX(-60%);
    width: 55%;
  }
  .hero .order-consultation {
    padding: 25px;
    margin-left: 75px;
    max-width: 760px;
  }
  .hero .order-consultation__title {
    margin-bottom: 5px;
    font-size: 64px;
  }
  .hero .order-consultation__subtitle {
    margin-bottom: 10px;
    font-size: 21px;
  }
  .hero .order-consultation__subtext {
    font-size: 18px;
  }
  .hero .order-consultation__name, .hero .order-consultation__tel {
    padding: 18px 16px;
    width: 260px;
    font-size: 16px;
  }
  .hero .order-consultation__name {
    margin-right: 20px;
  }
  .hero .order-consultation__btn {
    margin-top: 20px;
    padding: 16px 30px;
    font-size: 14px;
  }

  .advantages__title {
    width: 500px;
    font-size: 36px;
  }
  .advantages-wrapper {
    margin: 0 auto;
    padding: 60px 70px 0;
    border-width: 4px;
  }
  .advantages-list__item {
    margin-bottom: 60px;
    width: 350px;
  }
  .advantages-list .item {
    font-size: 20px;
  }
  .advantages-list .item__icon {
    margin-right: 30px;
  }

  .real-estate {
    margin-bottom: 90px;
  }
  .real-estate__title {
    font-size: 36px;
    margin-bottom: 45px;
  }
  .real-estate .item__title {
    bottom: 80px;
    font-size: 20px;
  }
  .real-estate .item__btn {
    bottom: 25px;
    transform: translateX(-50%);
    padding: 12px 40px;
    font-size: 14px;
  }

  .stats {
    margin-bottom: 88px;
    max-width: 1920px;
  }
  .stats__description {
    margin-left: 148px;
    padding-left: 30px;
    max-width: 480px;
    font-size: 30px;
    line-height: 60px;
  }
  .stats__list {
    padding: 25px 0;
  }
  .stats__item {
    max-width: 165px;
    padding-left: 40px;
  }
  .stats .item__text {
    margin: 15px 0;
    font-size: 14px;
  }
  .stats .item__numbers {
    font-size: 50px;
  }
  .stats .item__numbers span {
    font-size: 24px;
  }
  .stats .item:not(:last-of-type) {
    padding-right: 40px;
  }

  .consult {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .consult__title {
    margin-bottom: 10px;
    font-size: 36px;
  }
  .consult__subtitle {
    margin-bottom: 50px;
    font-size: 24px;
  }
  .consult__name, .consult__tel {
    padding: 16px;
    width: 310px;
  }
  .consult__btn {
    padding: 15px 55px;
    font-size: 16px;
  }

  .footer .logo {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  .footer .logo__ref {
    margin-top: 0;
  }
  .footer .credits {
    font-size: 11px;
  }
}
@media screen and (max-width: 1365px) {
  .header {
    padding: 30px 70px 40px;
  }
  .header__title {
    font-size: 12px;
    line-height: 20px;
  }
  .header .divider-y {
    height: 100%;
    border-width: 1px;
  }
  .header .phone__number {
    font-size: 13px;
  }
  .header .phone__btn {
    padding: 8px 26px;
    margin-left: 25px;
    font-size: 11px;
  }

  .logo__GPS {
    font-size: 44px;
  }
  .logo__ref {
    font-size: 7px;
  }

  .hero {
    padding: 68px 50px 110px;
  }
  .hero .description {
    max-width: 340px;
  }
  .hero .description__title {
    font-size: 30px;
  }
  .hero .description__title__2nd-line {
    margin-top: 5px;
    font-size: 13px;
  }
  .hero .description__subtitle {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .hero .description__subtitle__2nd-line {
    font-size: 14px;
    line-height: 20px;
  }
  .hero .description__subtitle__3rd-line {
    font-size: 13px;
  }
  .hero .divider-x {
    align-self: auto;
    position: relative;
    left: 50%;
    transform: translateX(-64%);
    margin-top: 25px;
    margin-bottom: 20px;
    width: 55%;
  }
  .hero .order-consultation {
    padding: 25px;
    margin-left: 90px;
    max-width: 760px;
  }
  .hero .order-consultation__title {
    margin-bottom: 0;
    font-size: 50px;
  }
  .hero .order-consultation__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .hero .order-consultation__subtext {
    font-size: 14px;
  }
  .hero .order-consultation__name, .hero .order-consultation__tel {
    padding: 15px 15px;
    width: 40%;
    font-size: 12px;
  }
  .hero .order-consultation__name {
    margin-right: 10px;
  }
  .hero .order-consultation__btn {
    padding: 12px 16px;
    font-size: 12px;
  }

  .advantages__title {
    width: 350px;
    font-size: 26px;
  }
  .advantages-wrapper {
    padding: 40px 40px 0;
    top: -18px;
  }
  .advantages-list {
    justify-content: space-around;
  }
  .advantages-list__item {
    margin-bottom: 35px;
    width: 285px;
  }
  .advantages-list .item {
    font-size: 14px;
  }
  .advantages-list .item__icon {
    margin-right: 18px;
    width: 50px;
  }

  .real-estate {
    margin-bottom: 60px;
  }
  .real-estate__title {
    font-size: 26px;
    margin-bottom: 35px;
  }
  .real-estate .item__title {
    bottom: 65px;
    font-size: 16px;
  }
  .real-estate .item__btn {
    bottom: 20px;
    padding: 6px 25px;
    font-size: 10px;
  }

  .stats {
    margin-bottom: 88px;
    max-width: 1920px;
  }
  .stats__description {
    margin-left: 60px;
    max-width: 400px;
    font-size: 24px;
    line-height: 38px;
  }
  .stats__item {
    max-width: 125px;
    padding-left: 30px;
  }
  .stats .item__text {
    margin: 12px 0;
    font-size: 12px;
  }
  .stats .item__numbers {
    font-size: 36px;
  }
  .stats .item__numbers span {
    font-size: 18px;
  }
  .stats .item:not(:last-of-type) {
    padding-right: 30px;
  }

  .consult {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .consult__title {
    margin-bottom: 5px;
    font-size: 30px;
  }
  .consult__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .consult__name, .consult__tel {
    padding: 15px;
    width: 220px;
  }
  .consult__btn {
    padding: 14px 35px;
    font-size: 14px;
  }

  .footer .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer .credits {
    padding: 10px 0;
    font-size: 9px;
  }
}
