@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@700&family=Work+Sans:wght@700;900&display=swap");
body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn, input {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn_hover-blink {
  overflow: hidden;
  position: relative;
}
.btn_hover-blink:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.btn_hover-blink:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px 50px;
}
.header__title {
  font: 700 24px / 30px "Montserrat";
  text-transform: uppercase;
  color: #24173D;
  text-shadow: 0 0 1px #000;
}
.header .divider-y {
  margin-left: 45px;
  margin-right: 45px;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
}
.header .phone {
  display: flex;
  align-items: center;
}
.header .phone__number {
  margin-left: 10px;
  font: 600 24px / 30px "Montserrat";
  color: #24173D;
}
.header .phone__btn {
  padding: 13px 45px;
  margin-left: 50px;
  font: 700 18px / 25px "Montserrat";
  color: #24173D;
  background-color: #FFC633;
  border-radius: 30px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__link {
  text-align: center;
}
.logo__GPS {
  margin: 0;
  font: 900 80px / 60px "Work Sans";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #2A2D3E 0%, #FFC633 100%);
}
.logo__ref {
  margin-bottom: 0;
  margin-top: 0;
  font: 900 13px / 15px "Work Sans";
  text-transform: uppercase;
  color: #24173D;
  text-shadow: 0 0 1px #000;
}

.main {
  font-family: "Montserrat";
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 68px;
  padding-bottom: 209px;
  background: bottom/cover url("../img/background.jpg");
}
.hero .description {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  color: #FFFFFF;
}
.hero .description__title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 67px;
  font-weight: 800;
  text-transform: uppercase;
}
.hero .description__title__2nd-line {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 29px;
  font-weight: 300;
  text-transform: uppercase;
}
.hero .description__subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 56px;
  font-weight: 700;
}
.hero .description__subtitle__2nd-line {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.hero .description__subtitle__2nd-line_important {
  font-weight: 700;
  color: #FFC633;
}
.hero .description__subtitle__3rd-line {
  font-size: 24px;
  font-weight: 700;
  color: #FFC633;
}
.hero .divider-x {
  align-self: center;
  margin-top: 45px;
  margin-bottom: 25px;
  width: 70%;
  border: 2px solid white;
  border-radius: 50%;
}
.hero .order-consultation {
  padding: 50px;
  margin-left: 45px;
  max-width: 790px;
  color: #24173D;
  text-align: center;
  background-color: #FFC633;
  border-radius: 30px;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
}
.hero .order-consultation__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 87px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.hero .order-consultation__subtitle {
  margin-bottom: 15px;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.hero .order-consultation__subtext {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}
.hero .order-consultation__inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .order-consultation__inputs__name, .hero .order-consultation__inputs__tel {
  padding: 21px 20px;
  width: 345px;
  font-size: 19px;
  font-weight: 200;
  color: #5C5C5C;
  border-radius: 5px;
}
.hero .order-consultation__inputs__name::placeholder, .hero .order-consultation__inputs__tel::placeholder {
  color: #5C5C5C;
  font-family: "Montserrat";
  font-weight: 200;
}
.hero .order-consultation__inputs__name {
  margin-right: 20px;
}
.hero .order-consultation__btn {
  margin-top: 30px;
  padding: 21px 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  font: 600 18px / 22px "Montserrat";
  background-color: #24173D;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.advantages {
  margin: 0 70px;
}
.advantages__title {
  width: 570px;
  margin: 45px auto 0;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}
.advantages-wrapper {
  position: relative;
  z-index: -1;
  top: -25px;
  max-width: 1780px;
  margin: 0 auto;
  padding: 80px 90px 0;
  border: 6px double #000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advantages-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  width: 510px;
  font-size: 24px;
  font-weight: 300;
}
.advantages-list__item__icon {
  margin-right: 40px;
}
.advantages-list__item__text {
  margin: 0;
  letter-spacing: 1px;
}

.real-estate {
  margin-bottom: 128px;
}
.real-estate__title {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}
.real-estate__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
}
.real-estate__list__item {
  position: relative;
  box-shadow: inset 1px 1px #FFFFFF;
  background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%);
}
.real-estate__list__item__img {
  position: relative;
  z-index: -1;
}
.real-estate__list__item__title {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.real-estate__list__item__btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 50px;
  color: #24173D;
  font: 600 16px / 20px "Montserrat";
  background-color: #FAC86E;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}
.stats__description {
  margin-left: 148px;
  padding-left: 30px;
  max-width: 670px;
  color: #24173D;
  font-size: 44px;
  font-weight: 900;
  line-height: 77px;
  text-transform: uppercase;
  border-left: 5px solid #24173D;
}
.stats__values {
  width: 50%;
  background-color: #FFC633;
  border-radius: 30px 0px 0px 30px;
}
.stats__values__list {
  display: flex;
  padding: 30px 0;
}
.stats__values__list__item {
  position: relative;
  max-width: 185px;
  padding-left: 54px;
  text-align: center;
}
.stats__values__list__item__text {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}
.stats__values__list__item__numbers {
  font-size: 70px;
  font-weight: 800;
  color: #24173D;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.stats__values__list__item__numbers span {
  font-size: 30px;
}
.stats__values__list__item:not(:last-of-type) {
  padding-right: 54px;
}
.stats__values__list__item:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 146px;
  background-color: #FFFFFF;
  opacity: .2;
}

.consult {
  padding-top: 80px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url("../img/background-consultation.jpg");
}
.consult__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 800;
  color: #FFFFFF;
}
.consult__subtitle {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}
.consult__inputs {
  display: flex;
  justify-content: center;
}
.consult__inputs__name, .consult__inputs__tel {
  padding: 20px;
  margin-right: 20px;
  width: 345px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #5C5C5C;
  border-radius: 5px;
}
.consult__inputs__name::placeholder, .consult__inputs__tel::placeholder {
  color: #5C5C5C;
  font-family: "Montserrat";
  font-weight: 200;
}
.consult__btn {
  padding: 17px 64px;
  color: #24173D;
  text-transform: uppercase;
  font: 700 18px / 22px "Montserrat";
  background-color: #FFC633;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}
